--
-- PostgreSQL database dump
--

\restrict gXxUHK8SIcDSouaJobaKqyF0qiA6ltaI6CNbmmHoklGgYqdKEZda6Fz73JyLW8N

-- Dumped from database version 17.8 (92d3c18)
-- Dumped by pg_dump version 18.2

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: activity_type; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public.activity_type AS ENUM (
    'DEMO',
    'RING_BACK',
    'TAKE_SOFT',
    'VERY_SERIOUS',
    'SERIOUS',
    'GENERAL',
    'FROM',
    'AGAIN_CALL',
    'INTERESTED',
    'NOT_INTERESTED_ACT',
    'SURVEY',
    'PREFERENCE',
    'UNKNOWN_REASON'
);


ALTER TYPE public.activity_type OWNER TO neondb_owner;

--
-- Name: customer_size; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public.customer_size AS ENUM (
    'BIG',
    'MEDIUM',
    'SMALL'
);


ALTER TYPE public.customer_size OWNER TO neondb_owner;

--
-- Name: feedback_outcome; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public.feedback_outcome AS ENUM (
    'SUCCESSFUL',
    'UNSUCCESSFUL'
);


ALTER TYPE public.feedback_outcome OWNER TO neondb_owner;

--
-- Name: feedback_status; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public.feedback_status AS ENUM (
    'PENDING',
    'CONTACTED',
    'INTERESTED',
    'NOT_INTERESTED',
    'CONVERTED'
);


ALTER TYPE public.feedback_status OWNER TO neondb_owner;

--
-- Name: user_role; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public.user_role AS ENUM (
    'HIGH',
    'SUPER',
    'NORMAL'
);


ALTER TYPE public.user_role OWNER TO neondb_owner;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: ACCOUNT_GROUP; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."ACCOUNT_GROUP" (
    "ACC_GROUP" integer NOT NULL,
    "ACC_NAME" character varying(25),
    "PLBL" character varying(1),
    "OPBAL" smallint DEFAULT 0,
    "INC_EXP" character varying(1),
    "GROUP_HEAD" character varying(5),
    "AS_LI" character varying(1),
    "DEL_AL" character varying(1),
    "BAL" character varying(1),
    "SIDE" character varying(1),
    "PRINTNO" character varying(1),
    "MergeData" character varying(1)
);


ALTER TABLE public."ACCOUNT_GROUP" OWNER TO neondb_owner;

--
-- Name: ACCOUNT_MASTER; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."ACCOUNT_MASTER" (
    "GL_CODE" integer NOT NULL,
    "ACC_NAME" character varying(44),
    "ACC_GROUP" integer,
    "OPENING" smallint DEFAULT 0,
    "LAST_YEAR_BAL" smallint DEFAULT 0,
    "CURRENT_BAL" numeric(12,2) DEFAULT 0,
    "TEMP_BAL" numeric(12,2) DEFAULT 0,
    "UP_ALLOWED" character varying(1),
    "FORMER_NAME" character varying(44),
    "ADDRESS1" character varying(50),
    "ADDRESS2" character varying(50),
    "ADDRESS3" character varying(50),
    "ITFILENO" character varying(20),
    "LOCID" character varying(2),
    "TRANAMT" character varying(20),
    nullfydata character varying(1),
    "A_Type" character varying(1),
    "ACC_CODE" character varying(10),
    "Credit_Limit" character varying(15)
);


ALTER TABLE public."ACCOUNT_MASTER" OWNER TO neondb_owner;

--
-- Name: ACCOUNT_TRANS; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."ACCOUNT_TRANS" (
    "TRANCODE" character varying(3) NOT NULL,
    "VOUNUM" character varying(10) NOT NULL,
    "VOUSRL" character varying(3) NOT NULL,
    "VOUDATE" character varying(19),
    "GL_CODE" integer,
    "AMOUNT" numeric(23,15) DEFAULT 0,
    "BANKDATE" character varying(10),
    cbank1 character varying(1),
    "LOCID" character varying(2),
    nullfydata character varying(1),
    "ORN_LOCATION" character varying(2),
    "LINKVOU" character varying(10),
    "LINKTC" character varying(3),
    "DeptCode" character varying(5),
    "CR" character varying(1),
    "DR" character varying(1),
    "Transfer" character varying(1)
);


ALTER TABLE public."ACCOUNT_TRANS" OWNER TO neondb_owner;

--
-- Name: ADDRESSBOOK; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."ADDRESSBOOK" (
    "CLIENTSERIAL" integer NOT NULL,
    "FNAME" character varying(5),
    "NAME" character varying(50),
    "ADDRESS1" character varying(50),
    "ADDRESS2" character varying(50),
    "ADDRESS3" character varying(50),
    "CITY" character varying(30),
    "STATE" character varying(30),
    "PHONE" character varying(15),
    "FAX" character varying(15),
    "CASHOPENING" smallint DEFAULT 0,
    "BAL" numeric(12,2) DEFAULT 0,
    "AMOUNT" integer DEFAULT 0,
    "BIRTHDAY" character varying(19),
    "MA" character varying(19),
    "GL_CODE" integer,
    mobile character varying(15),
    "ID_GROUP" character varying(2),
    "SPNAME" character varying(50),
    "SPDOB" character varying(19),
    "SPMOBILE" character varying(15),
    "DISTRICT" character varying(30),
    "LOCATION" character varying(30),
    "LII" character varying(1),
    "TRFR" character varying(1),
    "INPER" character varying(5),
    "LOCID" character varying(2),
    discper character varying(5),
    "Email" character varying(60),
    "MCHRG" character varying(10),
    "MKGTYPE" character varying(5),
    "DEPTLINK" smallint,
    "REEDEMPOINT" numeric(10,2) DEFAULT 0,
    "lblPrint" character varying(1),
    "Religion" character varying(20),
    "IsPrnt" character varying(1),
    "PANNO" character varying(12),
    "BROKARAGE_PER" numeric(5,2),
    "TINNO" character varying(20),
    "PREVYEAR_MPOINT" numeric(10,2) DEFAULT 0,
    "ID_STATE" character varying(2),
    "GstIn" character varying(16),
    "Gender" character varying(1),
    "ID_TYPE" character varying(5),
    "Id_No" character varying(20),
    "Tcs_Amt" numeric(12,2) DEFAULT 0,
    "TcsApply" smallint DEFAULT 0
);


ALTER TABLE public."ADDRESSBOOK" OWNER TO neondb_owner;

--
-- Name: ADDRESSBOOK_CLIENTSERIAL_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public."ADDRESSBOOK_CLIENTSERIAL_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."ADDRESSBOOK_CLIENTSERIAL_seq" OWNER TO neondb_owner;

--
-- Name: ADDRESSBOOK_CLIENTSERIAL_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public."ADDRESSBOOK_CLIENTSERIAL_seq" OWNED BY public."ADDRESSBOOK"."CLIENTSERIAL";


--
-- Name: ARTISAN_MASTER; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."ARTISAN_MASTER" (
    "CODE" character varying(4) NOT NULL,
    "NAME" character varying(50),
    "ADDRESS1" character varying(50),
    "ADDRESS2" character varying(50),
    "ADDRESS3" character varying(50),
    "PHONE" character varying(15),
    "GL_CODE" integer,
    "LOCID" character varying(2),
    "GSTIN" character varying(16),
    "ID_STATE" smallint
);


ALTER TABLE public."ARTISAN_MASTER" OWNER TO neondb_owner;

--
-- Name: BRANCH_MASTER; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."BRANCH_MASTER" (
    "BILLNO" character varying(10) NOT NULL,
    "BRANCH_NAME" character varying(60),
    "ADDRESS1" character varying(60),
    "ADDRESS2" character varying(60),
    "ADDRESS3" character varying(60),
    "LOCID" character varying(2),
    "StateCode" character varying(3),
    "GSTINNO" character varying(16)
);


ALTER TABLE public."BRANCH_MASTER" OWNER TO neondb_owner;

--
-- Name: CASHMEMO_MASTER; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."CASHMEMO_MASTER" (
    "TRANCODE" character varying(3) NOT NULL,
    "VOUNUM" character varying(10) NOT NULL,
    "VOUDATE" character varying(19),
    "CLIENTSERIAL" integer,
    "GL_CODE" integer,
    "ORDERNO" character varying(10),
    "TOTAL_AMOUNT" numeric(12,2) DEFAULT 0,
    "DISC_PER" numeric(5,2) DEFAULT 0,
    "DISC_AMT" numeric(12,2) DEFAULT 0,
    "TAX_AMT" numeric(12,2) DEFAULT 0,
    "VAT_PER" numeric(5,2) DEFAULT 0,
    "VAT_AMT" numeric(12,2) DEFAULT 0,
    "ROUND_OFF" numeric(8,2) DEFAULT 0,
    "GRAND_TOTAL" numeric(12,2) DEFAULT 0,
    "ADJUSTED_AMOUNT" numeric(12,2) DEFAULT 0,
    "NARRATION" character varying(200),
    "TIMEOFSAVE" character varying(19),
    "LOCID" character varying(2)
);


ALTER TABLE public."CASHMEMO_MASTER" OWNER TO neondb_owner;

--
-- Name: CASHMEMO_TRANS; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."CASHMEMO_TRANS" (
    "TRANCODE" character varying(3) NOT NULL,
    "VOUNUM" character varying(10) NOT NULL,
    "SRL" smallint NOT NULL,
    "STONE_CODE" character varying(2),
    "STONE_SUB" character varying(3),
    "DESCRIPTION" character varying(50),
    "UOM" character varying(5),
    "PCS" integer DEFAULT 0,
    "WEIGHT" numeric(12,3) DEFAULT 0,
    "RATE" numeric(12,2) DEFAULT 0,
    "AMOUNT" numeric(12,2) DEFAULT 0
);


ALTER TABLE public."CASHMEMO_TRANS" OWNER TO neondb_owner;

--
-- Name: CUSTOMER_PAID_AMOUNT; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."CUSTOMER_PAID_AMOUNT" (
    "TRANCODE" character varying(3) NOT NULL,
    "VOUNUM" character varying(10) NOT NULL,
    "SRL" smallint NOT NULL,
    "GL_CODE" integer,
    "CHNO" character varying(20),
    "CHDATE" character varying(19),
    "AMOUNT" numeric(12,2) DEFAULT 0
);


ALTER TABLE public."CUSTOMER_PAID_AMOUNT" OWNER TO neondb_owner;

--
-- Name: DEALER_MASTER; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."DEALER_MASTER" (
    "CODE" character varying(4) NOT NULL,
    "NAME" character varying(50),
    "ADDRESS1" character varying(50),
    "ADDRESS2" character varying(50),
    "ADDRESS3" character varying(50),
    "PHONE" character varying(15),
    "FAX" character varying(15),
    "CONTACTPERSON" character varying(30),
    "LISCENCENO" character varying(20),
    "GL_CODE" integer,
    "UNREGISTERED" smallint DEFAULT 0,
    "BALSTD" numeric(7,5),
    "BALACC" numeric(12,2),
    "VAT_NO" character varying(20),
    city character varying(30),
    "State" character varying(30),
    "Location" character varying(30),
    "District" character varying(30),
    "Wastege" smallint DEFAULT 0,
    "Creditdays" smallint DEFAULT 0,
    "MetalPercent" smallint DEFAULT 0,
    "AccPercent" smallint DEFAULT 0,
    "FaxNo" character varying(15),
    "MobilleNo" character varying(15),
    "DoB" character varying(19),
    "MAnniv" character varying(19),
    "MailId" character varying(60),
    "Website" character varying(60),
    "ID_STATE" smallint,
    "GSTIN" character varying(16),
    "Tcs_Amt" numeric(12,2) DEFAULT 0,
    "TcsApply" smallint DEFAULT 0
);


ALTER TABLE public."DEALER_MASTER" OWNER TO neondb_owner;

--
-- Name: GST_CODE_MASTER; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."GST_CODE_MASTER" (
    "ID" smallint NOT NULL,
    "CODE" character varying(3),
    "TAXCODE" character varying(10),
    "SGST" numeric(5,3),
    "CGST" numeric(5,3),
    "IGST" numeric(5,2),
    "UTGST" smallint DEFAULT 0,
    "Description" character varying(150)
);


ALTER TABLE public."GST_CODE_MASTER" OWNER TO neondb_owner;

--
-- Name: GST_PRINT_TAX; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."GST_PRINT_TAX" (
    "SRL" smallint NOT NULL,
    "HSN_SSN" integer,
    "CGST_RT" numeric(5,3) DEFAULT 0,
    "CGST_AMT" numeric(12,2) DEFAULT 0,
    "SGST_RT" numeric(5,3) DEFAULT 0,
    "SGST_AMT" numeric(12,2) DEFAULT 0,
    "IGST_RT" numeric(5,2) DEFAULT 0,
    "IGST_AMT" numeric(12,2) DEFAULT 0,
    "CESS" numeric(12,2) DEFAULT 0,
    "TOT_TAX" numeric(12,2) DEFAULT 0,
    "TXABAMT" numeric(12,2) DEFAULT 0
);


ALTER TABLE public."GST_PRINT_TAX" OWNER TO neondb_owner;

--
-- Name: GST_STATE_MASTER; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."GST_STATE_MASTER" (
    "ID" smallint NOT NULL,
    "STATE_NAME" character varying(50),
    "STATE_CODE" character varying(3),
    "COUNTRY" character varying(30)
);


ALTER TABLE public."GST_STATE_MASTER" OWNER TO neondb_owner;

--
-- Name: GST_STONE_MASTER_DETL; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."GST_STONE_MASTER_DETL" (
    "STONECODE" character varying(2) NOT NULL,
    "SUBCODE" character varying(3) NOT NULL,
    "SRL" smallint NOT NULL,
    "FROMDT" timestamp without time zone,
    "TODT" timestamp without time zone,
    "HSNCODE" integer,
    "SGST" numeric(5,3),
    "CGST" numeric(5,3),
    "IGST" numeric(5,2),
    "ISACTIVE" smallint DEFAULT 1
);


ALTER TABLE public."GST_STONE_MASTER_DETL" OWNER TO neondb_owner;

--
-- Name: GST_TAXSUMMARY_DETAIL; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."GST_TAXSUMMARY_DETAIL" (
    "TRANCODE" character varying(3) NOT NULL,
    "VOUNUM" character varying(10) NOT NULL,
    "SRL" smallint NOT NULL,
    "HSNCODE" integer,
    "CGST_RT" numeric(5,3) DEFAULT 0,
    "CGST_AMT" numeric(12,2) DEFAULT 0,
    "SGST_RT" numeric(5,3) DEFAULT 0,
    "SGST_AMT" numeric(12,2) DEFAULT 0,
    "IGST_RT" numeric(5,2) DEFAULT 0,
    "IGST_AMT" numeric(12,2) DEFAULT 0,
    "CESS" numeric(12,2) DEFAULT 0,
    "TOT_TAX" numeric(12,2) DEFAULT 0,
    "TXABAMT" numeric(12,2) DEFAULT 0
);


ALTER TABLE public."GST_TAXSUMMARY_DETAIL" OWNER TO neondb_owner;

--
-- Name: ID_HEADER; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."ID_HEADER" (
    "TRANCODE" character varying(3) NOT NULL,
    "PREFIX" character varying(5),
    "CURRENTNO" integer DEFAULT 0,
    "SUFFIX" character varying(5),
    "WORKVOU" character varying(10),
    "DESCRIPTION" character varying(50),
    "VOUDATE" timestamp without time zone,
    "VOUNUM" character varying(8),
    "SRL" integer,
    "ITEMDESCRIPTION" character varying(50),
    "DETAIL" character varying(120),
    "ARTISAN" character varying(8),
    "IDNUM" character varying(10),
    "MANUALID" character varying(10),
    "KDM" smallint,
    "PCS" smallint,
    "GROSS_WT" double precision,
    "STONE_WT" double precision,
    "NETT_WT" double precision,
    "STD_WT" double precision,
    "BAL_WT" double precision,
    "INSTOCK" smallint,
    "MAKING_TYPE" character varying(3),
    "MAKING_RATE" double precision,
    "MAKING" double precision,
    "OTHER_CHARGES" double precision,
    "APPROVAL" smallint,
    "STONE" integer,
    "WORK_NUM" character varying(8),
    "SALE_COMPLETE" character varying(1),
    "PART_SALE" character varying(1),
    "GOLD_VALUE" double precision,
    "STONE_VALUE" double precision,
    "TOT_VALUE" double precision,
    "WORKORDER" character varying(10),
    "LAST_WORK" character varying(15),
    "ITEM" character varying(4),
    "WORK" character varying(15),
    "RVNUM" character varying(8),
    "GRADE" character varying(4),
    "GOLD_RATE" double precision,
    "ORDER_NUM" character varying(8),
    "ORDER_SRL" smallint,
    "PURITY" character varying(2),
    "OLDTONEW" smallint,
    "RETPURCHASE" smallint,
    "GROUP" smallint,
    "STOCK" smallint,
    "PRINT_ID" character varying(7),
    "METPUR" character varying(2),
    "METGRA" character varying(4),
    "WMetalWgt" double precision,
    "WMetalRate" double precision,
    "WMetalValue" double precision,
    "ARTMAKING" double precision,
    "UPDATEID" integer,
    "BARTAG" character varying(1),
    "SHOWTAG" integer,
    "TotBar" boolean,
    transfer boolean,
    "WORKSRL" integer,
    "SECONDSALE" boolean,
    "GOLDID" smallint,
    "DESIGNCODE" character varying(50),
    "DSIZE" double precision,
    "LBL_TYPE" character varying(1),
    "HALF_VALUE" smallint,
    "HMCHARGE" double precision,
    "DEALER" smallint,
    "SALERETURN" smallint,
    "TMP_STK" integer,
    "UNP_STOCK" smallint,
    "HALLMK" smallint,
    booked smallint,
    "DEPTCODE" character varying(4),
    "LAST_DEPTCODE" character varying(4),
    "C_No" character varying(8),
    "PURCHVOU" character varying(8),
    "PURCHSRL" smallint,
    "TRANSIT" smallint,
    "LOCID" smallint,
    "TagPrnt" smallint,
    "REMARK1" character varying(150),
    "REMARK2" character varying(150),
    "QUALITY" character varying(10),
    "CGRATE" double precision,
    "CGVALUE" double precision,
    "STCOSTAMT" double precision,
    "TOTCOST" double precision,
    "OLDID" double precision,
    "ACT" character varying(1),
    "TRFR" smallint,
    "ARTVOU" character varying(25),
    othermetal double precision,
    "HM_TYPE" character varying(3),
    "HM_RATE" double precision,
    "Rdu_Charg" double precision,
    "CfValue" double precision,
    "BARTAGAMT" double precision,
    othcvalue double precision,
    "RFID" character varying(25),
    "MRP" smallint,
    "Othcstval" double precision,
    "HMcstval" double precision,
    "ConvRate" double precision,
    "CostBDT" double precision,
    "CNType" character varying(6),
    "SUPPID" character varying(10),
    "SaleReturnVou" character varying(8),
    "SaleReturnSrl" smallint,
    "WEIGHT" double precision,
    "MAKINGTYPE" character varying(10),
    "MAKINGRATE" double precision,
    "OriginId" character varying(10),
    "Dealer_OrderNo" character varying(10),
    "CANCEL" boolean,
    "FRANPOSWT" double precision,
    "HallRcvNo" character varying(8),
    "HallRcvSrl" smallint,
    "TRYCODE" character varying(5),
    "PERCENTAGE" double precision,
    "TRCODE" character varying(5),
    "RFIDLINK" smallint,
    "TIMESTR" character varying(50),
    "PREID" smallint,
    "TRAYCODE" character varying(5),
    "TARIFF" smallint,
    "RefId" character varying(75)
);


ALTER TABLE public."ID_HEADER" OWNER TO neondb_owner;

--
-- Name: PACKET_MASTER; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."PACKET_MASTER" (
    "CODE" character varying(10) NOT NULL,
    "DESCRIPTION" character varying(50),
    "STONE_CODE" character varying(2),
    "STONE_SUB" character varying(3),
    "ACTIVE" smallint DEFAULT 1,
    "DETAIL" character varying(50),
    "PCS" integer,
    "WEIGHT" double precision,
    "RATE" double precision,
    "TRANCODE" character varying(4),
    "Balance" double precision,
    "BalancePcs" integer
);


ALTER TABLE public."PACKET_MASTER" OWNER TO neondb_owner;

--
-- Name: PACKET_MASTER_OPENING; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."PACKET_MASTER_OPENING" (
    "CODE" character varying(10) NOT NULL,
    "STONE_CODE" character varying(2) NOT NULL,
    "STONE_SUB" character varying(3) NOT NULL,
    "COSTRATE" numeric(12,2) DEFAULT 0
);


ALTER TABLE public."PACKET_MASTER_OPENING" OWNER TO neondb_owner;

--
-- Name: SALESMAN_MASTER; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."SALESMAN_MASTER" (
    "CODE" character varying(4) NOT NULL,
    "NAME" character varying(30),
    "ADDRESS1" character varying(50),
    "ADDRESS2" character varying(50),
    "ADDRESS3" character varying(50),
    "PHONE" character varying(15),
    "FAX" character varying(15),
    "CONTACTPERSON" character varying(30),
    "LISCENCENO" character varying(20),
    "GL_CODE" integer,
    "LOCID" character varying(2),
    "TrgAmt" numeric(12,2) DEFAULT 0,
    vat_no character varying(20)
);


ALTER TABLE public."SALESMAN_MASTER" OWNER TO neondb_owner;

--
-- Name: SERIAL_INFO; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."SERIAL_INFO" (
    "TRANCODE" character varying(3) NOT NULL,
    "PRINT_STATUS" smallint DEFAULT 0,
    "TSAVE" smallint DEFAULT 1,
    "PasswordActive" smallint DEFAULT 0,
    "PREFIX" character varying(5),
    "CURRENTNO" integer DEFAULT 0
);


ALTER TABLE public."SERIAL_INFO" OWNER TO neondb_owner;

--
-- Name: SETUP_INFO; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."SETUP_INFO" (
    "ID" integer NOT NULL,
    "COMP_NAME" character varying(60),
    "ADDRESS1" character varying(60),
    "ADDRESS2" character varying(60),
    "ADDRESS3" character varying(60),
    "PHONE" character varying(20),
    "FAX" character varying(20),
    "PIN_CODE" character varying(10),
    "COMP_PAN" character varying(15),
    "COMP_VAT" character varying(20),
    "COMP_CST" character varying(20),
    "COMP_TIN" character varying(20),
    "COMP_IEC" character varying(20),
    "COMP_MAILID" character varying(60),
    "COMP_CIN" character varying(25),
    "GSTINNO" character varying(16),
    "StateCode" character varying(3),
    "SENDSMS" smallint DEFAULT 0,
    "SMS_USER" character varying(30),
    "SMS_PASSWORD" character varying(30),
    "UserNo" character varying(5),
    "PasswordActive" smallint DEFAULT 0,
    "TcsApply" smallint DEFAULT 0,
    "EINV_ACTIVE" smallint DEFAULT 0,
    "CURR_YEAR" character varying(5),
    "CURR_DATE" timestamp without time zone,
    "START_DATE" timestamp without time zone,
    "END_DATE" timestamp without time zone,
    "LAST_GL" integer,
    "LAST_GRP" integer,
    "LAST_19" character varying(8),
    "LAST_10" character varying(8),
    "ID_SERIAL" integer,
    "PACKET_ID" integer,
    "LAST_CUSTOMER" integer,
    "STDGOLDPURCHASE" integer,
    "STDGOLDSALE" integer,
    "SALESTAX2" integer,
    "SALESTAX8" integer,
    "SALESTAX1" integer,
    "SURCHARGE" integer,
    "MAKINGAC" integer,
    "PUREMAKEAC" integer,
    "MISCAC" integer,
    "DISCOUNT_ALLOWED" integer,
    "SUNDRY_KARG" character varying(8),
    "SUNDRY_DEAL" character varying(8),
    "SUNDRY_DISTRIBUTOR" character varying(8),
    "SUNDRY_DEBTORS" character varying(8),
    "CUSTOMER_ADVANCE" integer,
    "LAST_20A" character varying(8),
    "LAST_21A" character varying(8),
    "CUSTOMER_DUE" smallint,
    "STDGOLDOPENING" double precision,
    "SILVERPURCHASE" integer,
    "SILVERSALE" integer,
    "COPPER" integer,
    "ADDSURCHARGE" smallint,
    "NEW_GOLD_PURCHASE" integer,
    "GROSS_PROFIT" double precision,
    "NET_PROFIT" double precision,
    "SHARE_RECEIVED" integer,
    "MISC_CHARGE" integer,
    "OTHER_CHARGE" integer,
    "KARG_MAKE" integer,
    "REPAIR_CHARGE" integer,
    "SUNDRY_REFINERY" character varying(8),
    "LAST_ITEM_GROUP" smallint,
    "LAST_DESIGN_GROUP" integer,
    "PURCHASE_TAX" integer,
    "REFINE_CHARGES" integer,
    "SENCO_CORNER" boolean,
    "GLOBAL_ID" integer,
    "RPTORDERMEMO_FILENAME" character varying(100),
    "RPTCASHMEMO_FILENAME" character varying(100),
    "YEAR_NO" smallint,
    "BSIRKAR" boolean,
    "ENTRY_ID" boolean,
    combpur character varying(2),
    "MULTICOMPANY" boolean,
    "PICTURE_PATH" character varying(200),
    "SCANNING" boolean,
    "BARCODE" boolean,
    "SUSPAC" integer,
    "MORESTD" boolean,
    "PACKET" boolean,
    "EXPACC" character varying(5),
    "DEAL_MAKE" integer,
    "REPAIR_ISSUE" integer,
    "APPROVAL" boolean,
    "REPAIR" boolean,
    "SAMPLE" boolean,
    "SPECIALENTRY" boolean,
    "DEALER" boolean,
    "ARTISAN" boolean,
    "MINT" boolean,
    "BARCODELABEL" character varying(50),
    "BARLBL1" character varying(50),
    "BARLBL2" character varying(50),
    "EXPORT" boolean,
    "CUSTOMER_ACCOUNT" character varying(8),
    "LAST_CUSTNO" integer,
    "COMMISSION" integer,
    "MULTIPURITY" boolean,
    "MMJ" boolean,
    "WORKORDER" boolean,
    "CUSTOMER_POPUP" boolean,
    "TRANSACTION_MASTER" boolean,
    "THROUGH_ENTER" boolean,
    "MORESALE" boolean,
    "JI" boolean,
    "PERCENTAGE" boolean,
    "MAKINGMFG" integer,
    central integer,
    centralsurc integer,
    "SECONDSALE" boolean,
    "CUSTTAG" boolean,
    "DESIGN" boolean,
    "ESTIMATE" boolean,
    "KDM" boolean,
    "GENIDGLST" boolean,
    "SID_SERIAL" integer,
    "STAFF" boolean,
    "HK" boolean,
    "DIAMOND" character varying(2),
    "CUSTOMER" character varying(8),
    "PRINTER" character varying(100),
    "OTHERPURC" character varying(50),
    "OTHERSALE" character varying(50),
    "RNDACC" integer,
    "ABIR" boolean,
    sms boolean,
    "Tender" boolean,
    other boolean,
    kar boolean,
    "SALE_SERIAL" character varying(8),
    "NON_TAX_SALE_SERIAL" character varying(8),
    "PANNO" character varying(50),
    "TDS" smallint,
    "PROFITLOSS" character varying(50),
    "ALLOY_OPENING" double precision,
    "REPAIR_SRL" character varying(15),
    "SILVER_SRL" character varying(15),
    "TRIALOPE" double precision,
    "VATNO" character varying(50),
    "CSTNO" character varying(50),
    "SUNDRY_HALLMARK" character varying(20),
    "PATH" character varying(255),
    "CLIENTID" integer,
    "PureIssue" smallint,
    "PureRecv" smallint,
    "PureLoss" smallint,
    "PureMaking" smallint,
    "BANKCHRG" smallint,
    "BARCODEHEIGHT" integer,
    "BARCODEWIDTH1" integer,
    "BARCODEWIDTH2" integer,
    "lblPostnwith" double precision,
    "lblPostnhith" double precision,
    "PURITY" character varying(2),
    "GRADE" character varying(4),
    "SUNDRY_ASTROLOGER" character varying(8),
    "MSCHADV" integer,
    "GIFTCARD" integer,
    "Diamond_Srl" character varying(15),
    "MSBONUS" character varying(8),
    "TANNO" character varying(50),
    "MSPROMOTION" character varying(50),
    "TDS_AC" smallint,
    "CURRAMT" double precision,
    "CURRTAG" character varying(6),
    "IECNO" character varying(50),
    "COUPONLINK" character varying(50),
    "PLATINGMEMO" smallint,
    "TCS_AC" integer,
    "MailId" character varying(50),
    "SILVERORD_SRL" character varying(15),
    "ModPassword" character varying(15),
    "DelPassword" character varying(15),
    "CanPassword" character varying(15),
    "SUNDRY_EMPLOYEE" character varying(15),
    "Discount_Branch" smallint,
    "Stone_Srl" character varying(8),
    "Costume_Srl" character varying(8),
    "OLDGOLDCASH" integer,
    "SaleTolerance" double precision,
    "MakingChrgPaid" integer,
    "MrpSale" integer,
    "CreditNote" integer,
    "STDRATIO" double precision,
    "CHOICEBILL" smallint,
    "BILLTYPE" smallint,
    "CinNo" character varying(100),
    "Cashlink" double precision,
    "ShiftOrdAcc" character varying(255),
    "Tax_SaleRetVou" character varying(10),
    "Non_TaxSaleRetVou" character varying(10),
    "SaleRetType" smallint,
    "ReturnBillType" smallint,
    "CustAdjAcc" integer,
    "Barcode2" character varying(255),
    "DEVICEMACID" character varying(50),
    "Power" character varying(50),
    "SPEED" character varying(50),
    "BUZZERVOLUME" smallint,
    "WIPEDATAPATH" character varying(255),
    "CustBillAmt" double precision,
    "Imitation_Srl" character varying(255),
    "Memento_Srl" character varying(255),
    "Imitation_SaleSrl" character varying(255),
    "Memento_SaleSrl" character varying(255),
    "OrderTaxSrl" character varying(255),
    "OrderNonTaxSrl" character varying(255),
    "ExciseDuty" integer,
    "BROKARAGE_PER" double precision,
    "ORDERTYPE" smallint,
    "CHOICEORD" smallint,
    "BrokerageLink" integer,
    "STDRATIOART" integer,
    "NonTaxSale" smallint,
    "NonTax" smallint,
    "ROUNDDIA" character varying(3),
    "SQUREDIA" character varying(3),
    "MARQUISEDIA" character varying(3),
    "Pearls" character varying(3),
    "Princes" character varying(3),
    "MisDiamond" character varying(3),
    "TRFGOLD" character varying(50),
    "TRFSTONE" character varying(50),
    "TRFDIAMOND" character varying(50),
    "EXCISE_MIS" character varying(50),
    "EXCISE_PER" double precision,
    "EXCISE_NO" character varying(50),
    "COMISSION" character varying(255),
    "DIVISION" character varying(50),
    "RANGE" character varying(50),
    "CHKEXCISE" smallint,
    "CHKEXCISEDT" timestamp without time zone,
    "OrderChk" smallint,
    "OdrType" smallint,
    "MemoChk" smallint,
    "MemoType" smallint,
    "Golddesc" character varying(255),
    "Stonedesc" character varying(255),
    "DiaDesc" character varying(255),
    "GSTCOMPATIBLE" smallint,
    "ID_STATE" smallint,
    "GSTDATE" timestamp without time zone,
    "CESS" double precision,
    "CGST" integer,
    "SGST" integer,
    "IGST" integer,
    "TransferAc" integer,
    "Gst_Making" integer,
    "GstPaybleAc" integer,
    "GstReceivableAc" integer,
    "STATE_NAME" character varying(255),
    "GstPurchaseTo" integer,
    "MixdLedger " double precision,
    "PurityRate" character varying(255),
    "GstrPath" character varying(255),
    "ParCode" character varying(50),
    "ClrStCd" character varying(50),
    "CustAdvGstOff" integer,
    "QutrValue " integer,
    "AlloyMandatory" smallint,
    "FixedHmAmt" double precision,
    "FixedOthAmt" double precision,
    "ChkSlv" integer,
    "ID_PATH" character varying(100)
);


ALTER TABLE public."SETUP_INFO" OWNER TO neondb_owner;

--
-- Name: SETUP_INFO2; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."SETUP_INFO2" (
    "ID" integer NOT NULL,
    "CDKEY" character varying(50),
    "EFUSERNAME" character varying(30),
    "EFPASSWORD" character varying(30),
    "EINVUSERNAME" character varying(30),
    "EINVPASSWORD" character varying(30)
);


ALTER TABLE public."SETUP_INFO2" OWNER TO neondb_owner;

--
-- Name: SETUP_INFO2_ID_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public."SETUP_INFO2_ID_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."SETUP_INFO2_ID_seq" OWNER TO neondb_owner;

--
-- Name: SETUP_INFO2_ID_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public."SETUP_INFO2_ID_seq" OWNED BY public."SETUP_INFO2"."ID";


--
-- Name: SETUP_INFO_ID_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public."SETUP_INFO_ID_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."SETUP_INFO_ID_seq" OWNER TO neondb_owner;

--
-- Name: SETUP_INFO_ID_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public."SETUP_INFO_ID_seq" OWNED BY public."SETUP_INFO"."ID";


--
-- Name: SMSTRANSACTION; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."SMSTRANSACTION" (
    "ID" integer NOT NULL,
    "TRANCODE" character varying(3),
    "VOUNUM" character varying(10),
    "MOBILE" character varying(15),
    "MESSAGE" character varying(500),
    sendsms smallint DEFAULT 0,
    smssenddate character varying(19),
    "LOCID" character varying(2)
);


ALTER TABLE public."SMSTRANSACTION" OWNER TO neondb_owner;

--
-- Name: SMSTRANSACTION_ID_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public."SMSTRANSACTION_ID_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."SMSTRANSACTION_ID_seq" OWNER TO neondb_owner;

--
-- Name: SMSTRANSACTION_ID_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public."SMSTRANSACTION_ID_seq" OWNED BY public."SMSTRANSACTION"."ID";


--
-- Name: STONE_MASTER; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."STONE_MASTER" (
    "STONE_CODE" character varying(2) NOT NULL,
    "STONE_SUB" character varying(3) NOT NULL,
    "DESCRIPTION" character varying(50),
    "UOM" character varying(5),
    "HSN_CODE" integer,
    "ACTIVE" smallint DEFAULT 1,
    "STONE_NAME" character varying(50),
    "UNIT" character varying(1),
    "STONE_SALE" integer,
    "STONE_PURC" integer,
    "OPPCS" integer,
    "OPWT" double precision,
    "STONE_SALE_2" integer,
    "SUB_STONE" character varying(6),
    "METAL" smallint,
    "STONE_OLD_PURC" integer,
    bgroup character varying(5),
    "OpStudWt" double precision,
    "STONE_NAME1" character varying(255)
);


ALTER TABLE public."STONE_MASTER" OWNER TO neondb_owner;

--
-- Name: STONE_PURCHASE; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."STONE_PURCHASE" (
    "TRANCODE" character varying(3) DEFAULT 'ISP'::character varying NOT NULL,
    "VOUNUM" character varying(10) NOT NULL,
    "VOUDATE" timestamp without time zone,
    "DEALER_CODE" character varying(4),
    "REF_BILL_NO" character varying(15),
    "REF_BILL_DATE" timestamp without time zone,
    "SALESMAN_CODE" character varying(4),
    "IS_CUSTOMER" smallint DEFAULT 0,
    "TOTAL_AMOUNT" numeric(12,2) DEFAULT 0,
    "DISC_PER" numeric(5,2) DEFAULT 0,
    "DISC_AMT" numeric(12,2) DEFAULT 0,
    "TAX_AMT" numeric(12,2) DEFAULT 0,
    "VAT_PER" numeric(5,2) DEFAULT 0,
    "VAT_AMT" numeric(12,2) DEFAULT 0,
    "TCS_TAXABLE_AMT" numeric(12,2) DEFAULT 0,
    "TCS_PER" numeric(5,2) DEFAULT 1,
    "TCS_AMT" numeric(12,2) DEFAULT 0,
    "ROUND_OFF" numeric(8,2) DEFAULT 0,
    "GRAND_TOTAL" numeric(12,2) DEFAULT 0,
    "NARRATION" character varying(200),
    "PAN_NO" character varying(12),
    "LOCID" character varying(2),
    "TIMEOFSAVE" character varying(19),
    "DISTRIBUTOR" character varying(8),
    "PACKET_ID" character varying(15),
    "STONE_CODE" character varying(2),
    "TOT_PCS" integer,
    "TOTAL_WT" double precision,
    "BALANCE" double precision,
    "TOT_STONE_AMT" double precision,
    "SALESTAX" double precision,
    "SURCHARGE" double precision,
    "ISS_TO_ART" boolean,
    "CRDAYS" smallint,
    "TAXPER" double precision,
    "SURPER" double precision,
    "NAME" character varying(50),
    "ADDRESS1" character varying(50),
    "ADDRESS2" character varying(50),
    "ADDRESS3" character varying(50),
    "DISPER" double precision,
    "DISCOUNT" double precision,
    "COMPER" double precision,
    "COMMISSION" double precision,
    "CANCEL" boolean,
    "Chkrd" smallint,
    roundoff double precision,
    "TCSPER" double precision,
    "TCSAMT" double precision,
    "TallyUpdate" smallint,
    "SalesmanCode" character varying(10),
    "TIMESTR" character varying(50),
    "TAXAMT" double precision,
    "mEntry" smallint,
    "TCSTAXABLEAMT" double precision,
    "TcsTaxType" character varying(50),
    "TcsTaxAmt" double precision,
    "Is_Cust" smallint
);


ALTER TABLE public."STONE_PURCHASE" OWNER TO neondb_owner;

--
-- Name: STONE_TRANS; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."STONE_TRANS" (
    "TRANCODE" character varying(3) NOT NULL,
    "VOUNUM" character varying(10) NOT NULL,
    "SRL" smallint NOT NULL,
    "STONE_CODE" character varying(2),
    "STONE_SUB" character varying(3),
    "DESCRIPTION" character varying(50),
    "UOM" character varying(5),
    "PCS" integer DEFAULT 0,
    "WEIGHT" numeric(12,3) DEFAULT 0,
    "RATE" numeric(12,2) DEFAULT 0,
    "AMOUNT" numeric(12,2) DEFAULT 0,
    "PACKET_NO" character varying(10),
    "TAX_AMT" numeric(12,2) DEFAULT 0,
    "HSNCODE" integer,
    "CGST" numeric(5,3) DEFAULT 0,
    "SGST" numeric(5,3) DEFAULT 0,
    "IGST" numeric(5,2) DEFAULT 0,
    "VOUSRL" integer,
    "VOUDATE" timestamp without time zone,
    "REF_NUM" character varying(10),
    "PACKET_ID" character varying(10),
    "STONE_WEIGHT" double precision,
    "ACC_CODE" character varying(6),
    "SUB_CODE" character varying(8),
    "ITEM_CODE" character varying(6),
    "IDNUM" character varying(10),
    "Order" character varying(25),
    "WorkOrder" character varying(25),
    "RECEIVED" smallint,
    "ISSUCODE" character varying(3),
    "WORKVOU" character varying(8),
    "WORKSRL" integer,
    "CUSTOMER" character varying(1),
    order_srl integer,
    "TRFR" smallint,
    "ST_PCS" integer,
    "ST_BAL" double precision,
    "LOCID" integer,
    "SDETAIL" character varying(25),
    "DETAIL" character varying(25),
    "ISSUVOU" character varying(8),
    "ISSUSRL" smallint,
    stval double precision,
    "RATE_TYPE" character varying(4),
    "TOTALTAX" double precision
);


ALTER TABLE public."STONE_TRANS" OWNER TO neondb_owner;

--
-- Name: TC_WISE_PASSWORD_DETAIL; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."TC_WISE_PASSWORD_DETAIL" (
    "TC" character varying(3) NOT NULL,
    "UserName" character varying(30) NOT NULL,
    "MOD_PASSWORD" character varying(20),
    "DEL_PASSWORD" character varying(20),
    "CAN_PASSWORD" character varying(20)
);


ALTER TABLE public."TC_WISE_PASSWORD_DETAIL" OWNER TO neondb_owner;

--
-- Name: USERS; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."USERS" (
    "ID" integer NOT NULL,
    "USERNAME" character varying(30) NOT NULL,
    "PASSWORD_HASH" character varying(200) NOT NULL,
    "ROLE" smallint DEFAULT 0,
    "LOCID" character varying(2),
    "ACTIVE" smallint DEFAULT 1,
    "CREATED_AT" timestamp without time zone DEFAULT now()
);


ALTER TABLE public."USERS" OWNER TO neondb_owner;

--
-- Name: USERS_ID_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public."USERS_ID_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."USERS_ID_seq" OWNER TO neondb_owner;

--
-- Name: USERS_ID_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public."USERS_ID_seq" OWNED BY public."USERS"."ID";


--
-- Name: USER_ADDITION_BY; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."USER_ADDITION_BY" (
    "ID" integer NOT NULL,
    "FormCaption" character varying(50),
    "AddVou" character varying(10),
    "AddDate" character varying(19),
    "AddTime" character varying(10),
    "UserName" character varying(30)
);


ALTER TABLE public."USER_ADDITION_BY" OWNER TO neondb_owner;

--
-- Name: USER_ADDITION_BY_ID_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public."USER_ADDITION_BY_ID_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."USER_ADDITION_BY_ID_seq" OWNER TO neondb_owner;

--
-- Name: USER_ADDITION_BY_ID_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public."USER_ADDITION_BY_ID_seq" OWNED BY public."USER_ADDITION_BY"."ID";


--
-- Name: USER_CANCELLED_BY; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."USER_CANCELLED_BY" (
    "ID" integer NOT NULL,
    "FormCaption" character varying(50),
    "CanVou" character varying(10),
    "CanDate" character varying(19),
    "CanTime" character varying(10),
    "UserName" character varying(30)
);


ALTER TABLE public."USER_CANCELLED_BY" OWNER TO neondb_owner;

--
-- Name: USER_CANCELLED_BY_ID_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public."USER_CANCELLED_BY_ID_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."USER_CANCELLED_BY_ID_seq" OWNER TO neondb_owner;

--
-- Name: USER_CANCELLED_BY_ID_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public."USER_CANCELLED_BY_ID_seq" OWNED BY public."USER_CANCELLED_BY"."ID";


--
-- Name: USER_DELETED_BY; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."USER_DELETED_BY" (
    "ID" integer NOT NULL,
    "FormCaption" character varying(50),
    "DelVou" character varying(10),
    "DelDate" character varying(19),
    "DelTime" character varying(10),
    "UserName" character varying(30)
);


ALTER TABLE public."USER_DELETED_BY" OWNER TO neondb_owner;

--
-- Name: USER_DELETED_BY_ID_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public."USER_DELETED_BY_ID_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."USER_DELETED_BY_ID_seq" OWNER TO neondb_owner;

--
-- Name: USER_DELETED_BY_ID_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public."USER_DELETED_BY_ID_seq" OWNED BY public."USER_DELETED_BY"."ID";


--
-- Name: USER_MODIFIED_BY; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."USER_MODIFIED_BY" (
    "ID" integer NOT NULL,
    "FormCaption" character varying(50),
    "ModVou" character varying(10),
    "ModDate" character varying(19),
    "ModTime" character varying(10),
    "UserName" character varying(30)
);


ALTER TABLE public."USER_MODIFIED_BY" OWNER TO neondb_owner;

--
-- Name: USER_MODIFIED_BY_ID_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public."USER_MODIFIED_BY_ID_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."USER_MODIFIED_BY_ID_seq" OWNER TO neondb_owner;

--
-- Name: USER_MODIFIED_BY_ID_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public."USER_MODIFIED_BY_ID_seq" OWNED BY public."USER_MODIFIED_BY"."ID";


--
-- Name: YEARLIST; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."YEARLIST" (
    "ID" integer NOT NULL,
    "DIRECTORY" character varying(100),
    "FROMDATE" character varying(19),
    "TODATE" character varying(19),
    "EINV_ACTIVE" smallint DEFAULT 0,
    "YEAR_NO" smallint
);


ALTER TABLE public."YEARLIST" OWNER TO neondb_owner;

--
-- Name: YEARLIST_ID_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public."YEARLIST_ID_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."YEARLIST_ID_seq" OWNER TO neondb_owner;

--
-- Name: YEARLIST_ID_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public."YEARLIST_ID_seq" OWNED BY public."YEARLIST"."ID";


--
-- Name: areas; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.areas (
    id integer NOT NULL,
    code text NOT NULL,
    name text NOT NULL,
    half_day text,
    full_day text,
    other_day text,
    day_status text,
    day_status1 text,
    time_from text,
    time_to text,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp(3) without time zone DEFAULT now() NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    description text
);


ALTER TABLE public.areas OWNER TO neondb_owner;

--
-- Name: areas_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.areas_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.areas_id_seq OWNER TO neondb_owner;

--
-- Name: areas_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.areas_id_seq OWNED BY public.areas.id;


--
-- Name: cities; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.cities (
    id integer NOT NULL,
    name text NOT NULL,
    state_id integer NOT NULL,
    created_at timestamp(3) without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.cities OWNER TO neondb_owner;

--
-- Name: cities_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.cities_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.cities_id_seq OWNER TO neondb_owner;

--
-- Name: cities_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.cities_id_seq OWNED BY public.cities.id;


--
-- Name: customer_types; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.customer_types (
    id integer NOT NULL,
    name text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.customer_types OWNER TO neondb_owner;

--
-- Name: customer_types_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.customer_types_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.customer_types_id_seq OWNER TO neondb_owner;

--
-- Name: customer_types_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.customer_types_id_seq OWNED BY public.customer_types.id;


--
-- Name: customers; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.customers (
    id integer NOT NULL,
    serial_no text,
    prefix text,
    name text NOT NULL,
    address1 text,
    address2 text,
    address3 text,
    city_id integer,
    state_id integer,
    pincode text,
    phone1 text,
    phone2 text,
    mobile text,
    email text,
    birth_date date,
    marriage_date date,
    area_id integer,
    sub_area_id integer,
    customer_type_id integer,
    is_sold boolean DEFAULT false NOT NULL,
    is_garbage boolean DEFAULT false NOT NULL,
    is_golden_circle boolean DEFAULT false NOT NULL,
    has_more_address boolean DEFAULT false NOT NULL,
    holiday text,
    remarks text,
    group_name text,
    group_name1 text,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp(3) without time zone DEFAULT now() NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    grade_id integer,
    referred_by text,
    customer_size public.customer_size,
    other_client boolean DEFAULT false NOT NULL,
    other_client_notes text,
    quoted_price numeric(12,2),
    wanted_price numeric(12,2),
    contact_person text,
    is_retailer boolean DEFAULT false NOT NULL,
    is_exporter boolean DEFAULT false NOT NULL,
    is_distributor boolean DEFAULT false NOT NULL,
    is_patron boolean DEFAULT false NOT NULL,
    require_holiday boolean DEFAULT false NOT NULL,
    country text DEFAULT 'India'::text
);


ALTER TABLE public.customers OWNER TO neondb_owner;

--
-- Name: customers_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.customers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.customers_id_seq OWNER TO neondb_owner;

--
-- Name: customers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.customers_id_seq OWNED BY public.customers.id;


--
-- Name: dealers; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.dealers (
    id integer NOT NULL,
    code text NOT NULL,
    name text NOT NULL,
    address1 text,
    address2 text,
    city text,
    state text,
    phone text,
    mobile text,
    email text,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp(3) without time zone DEFAULT now() NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.dealers OWNER TO neondb_owner;

--
-- Name: dealers_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.dealers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.dealers_id_seq OWNER TO neondb_owner;

--
-- Name: dealers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.dealers_id_seq OWNED BY public.dealers.id;


--
-- Name: feedbacks; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.feedbacks (
    id integer NOT NULL,
    customer_id integer,
    client_name text,
    feedback_date date DEFAULT CURRENT_TIMESTAMP NOT NULL,
    status public.feedback_status DEFAULT 'PENDING'::public.feedback_status NOT NULL,
    notes text,
    is_converted boolean DEFAULT false NOT NULL,
    converted_at timestamp(3) without time zone,
    created_at timestamp(3) without time zone DEFAULT now() NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    activity_type public.activity_type,
    system_type text,
    project_value numeric(12,2),
    reason text,
    project_start_date date,
    maintenance_start_date date,
    payment_info text,
    training_start_date date,
    training_end_date date,
    training_notes text,
    installation_date date,
    feedback_text text,
    outcome public.feedback_outcome,
    voucher_no text,
    action_date date
);


ALTER TABLE public.feedbacks OWNER TO neondb_owner;

--
-- Name: feedbacks_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.feedbacks_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.feedbacks_id_seq OWNER TO neondb_owner;

--
-- Name: feedbacks_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.feedbacks_id_seq OWNED BY public.feedbacks.id;


--
-- Name: grades; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.grades (
    id integer NOT NULL,
    code text NOT NULL,
    name text NOT NULL,
    purity_ratio double precision NOT NULL,
    created_at timestamp(3) without time zone DEFAULT now() NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.grades OWNER TO neondb_owner;

--
-- Name: grades_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.grades_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.grades_id_seq OWNER TO neondb_owner;

--
-- Name: grades_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.grades_id_seq OWNED BY public.grades.id;


--
-- Name: serial_generation; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.serial_generation (
    id integer NOT NULL,
    prefix text NOT NULL,
    last_serial integer DEFAULT 0 NOT NULL
);


ALTER TABLE public.serial_generation OWNER TO neondb_owner;

--
-- Name: serial_generation_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.serial_generation_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.serial_generation_id_seq OWNER TO neondb_owner;

--
-- Name: serial_generation_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.serial_generation_id_seq OWNED BY public.serial_generation.id;


--
-- Name: states; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.states (
    id integer NOT NULL,
    name text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.states OWNER TO neondb_owner;

--
-- Name: states_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.states_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.states_id_seq OWNER TO neondb_owner;

--
-- Name: states_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.states_id_seq OWNED BY public.states.id;


--
-- Name: sub_areas; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.sub_areas (
    id integer NOT NULL,
    code text NOT NULL,
    name text NOT NULL,
    area_id integer NOT NULL,
    created_at timestamp(3) without time zone DEFAULT now() NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.sub_areas OWNER TO neondb_owner;

--
-- Name: sub_areas_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.sub_areas_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.sub_areas_id_seq OWNER TO neondb_owner;

--
-- Name: sub_areas_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.sub_areas_id_seq OWNED BY public.sub_areas.id;


--
-- Name: system_setup; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.system_setup (
    id integer DEFAULT 1 NOT NULL,
    company_name text DEFAULT 'JCRM Company'::character varying NOT NULL,
    company_address text,
    pan text,
    vat text,
    cst text,
    font_name text DEFAULT 'Arial'::character varying NOT NULL,
    font_size integer DEFAULT 10 NOT NULL,
    start_date date,
    end_date date,
    financial_year text,
    updated_at timestamp(3) without time zone NOT NULL,
    font_bold boolean DEFAULT false NOT NULL,
    font_italic boolean DEFAULT false NOT NULL,
    font_underline boolean DEFAULT false NOT NULL,
    font_strikethrough boolean DEFAULT false NOT NULL,
    font_all_caps boolean DEFAULT false NOT NULL,
    CONSTRAINT single_row CHECK ((id = 1))
);


ALTER TABLE public.system_setup OWNER TO neondb_owner;

--
-- Name: users; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.users (
    id integer NOT NULL,
    username text NOT NULL,
    password text NOT NULL,
    full_name text,
    role public.user_role DEFAULT 'NORMAL'::public.user_role NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp(3) without time zone DEFAULT now() NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.users OWNER TO neondb_owner;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO neondb_owner;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: ADDRESSBOOK CLIENTSERIAL; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."ADDRESSBOOK" ALTER COLUMN "CLIENTSERIAL" SET DEFAULT nextval('public."ADDRESSBOOK_CLIENTSERIAL_seq"'::regclass);


--
-- Name: SETUP_INFO ID; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."SETUP_INFO" ALTER COLUMN "ID" SET DEFAULT nextval('public."SETUP_INFO_ID_seq"'::regclass);


--
-- Name: SETUP_INFO2 ID; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."SETUP_INFO2" ALTER COLUMN "ID" SET DEFAULT nextval('public."SETUP_INFO2_ID_seq"'::regclass);


--
-- Name: SMSTRANSACTION ID; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."SMSTRANSACTION" ALTER COLUMN "ID" SET DEFAULT nextval('public."SMSTRANSACTION_ID_seq"'::regclass);


--
-- Name: USERS ID; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."USERS" ALTER COLUMN "ID" SET DEFAULT nextval('public."USERS_ID_seq"'::regclass);


--
-- Name: USER_ADDITION_BY ID; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."USER_ADDITION_BY" ALTER COLUMN "ID" SET DEFAULT nextval('public."USER_ADDITION_BY_ID_seq"'::regclass);


--
-- Name: USER_CANCELLED_BY ID; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."USER_CANCELLED_BY" ALTER COLUMN "ID" SET DEFAULT nextval('public."USER_CANCELLED_BY_ID_seq"'::regclass);


--
-- Name: USER_DELETED_BY ID; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."USER_DELETED_BY" ALTER COLUMN "ID" SET DEFAULT nextval('public."USER_DELETED_BY_ID_seq"'::regclass);


--
-- Name: USER_MODIFIED_BY ID; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."USER_MODIFIED_BY" ALTER COLUMN "ID" SET DEFAULT nextval('public."USER_MODIFIED_BY_ID_seq"'::regclass);


--
-- Name: YEARLIST ID; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."YEARLIST" ALTER COLUMN "ID" SET DEFAULT nextval('public."YEARLIST_ID_seq"'::regclass);


--
-- Name: areas id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.areas ALTER COLUMN id SET DEFAULT nextval('public.areas_id_seq'::regclass);


--
-- Name: cities id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.cities ALTER COLUMN id SET DEFAULT nextval('public.cities_id_seq'::regclass);


--
-- Name: customer_types id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.customer_types ALTER COLUMN id SET DEFAULT nextval('public.customer_types_id_seq'::regclass);


--
-- Name: customers id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.customers ALTER COLUMN id SET DEFAULT nextval('public.customers_id_seq'::regclass);


--
-- Name: dealers id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.dealers ALTER COLUMN id SET DEFAULT nextval('public.dealers_id_seq'::regclass);


--
-- Name: feedbacks id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.feedbacks ALTER COLUMN id SET DEFAULT nextval('public.feedbacks_id_seq'::regclass);


--
-- Name: grades id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.grades ALTER COLUMN id SET DEFAULT nextval('public.grades_id_seq'::regclass);


--
-- Name: serial_generation id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.serial_generation ALTER COLUMN id SET DEFAULT nextval('public.serial_generation_id_seq'::regclass);


--
-- Name: states id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.states ALTER COLUMN id SET DEFAULT nextval('public.states_id_seq'::regclass);


--
-- Name: sub_areas id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.sub_areas ALTER COLUMN id SET DEFAULT nextval('public.sub_areas_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: ACCOUNT_GROUP; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: ACCOUNT_MASTER; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: ACCOUNT_TRANS; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: ADDRESSBOOK; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: ARTISAN_MASTER; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."ARTISAN_MASTER" ("CODE", "NAME", "ADDRESS1", "ADDRESS2", "ADDRESS3", "PHONE", "GL_CODE", "LOCID", "GSTIN", "ID_STATE") FROM stdin;
\.


--
-- Data for Name: BRANCH_MASTER; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."BRANCH_MASTER" ("BILLNO", "BRANCH_NAME", "ADDRESS1", "ADDRESS2", "ADDRESS3", "LOCID", "StateCode", "GSTINNO") FROM stdin;
\.


--
-- Data for Name: CASHMEMO_MASTER; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."CASHMEMO_MASTER" ("TRANCODE", "VOUNUM", "VOUDATE", "CLIENTSERIAL", "GL_CODE", "ORDERNO", "TOTAL_AMOUNT", "DISC_PER", "DISC_AMT", "TAX_AMT", "VAT_PER", "VAT_AMT", "ROUND_OFF", "GRAND_TOTAL", "ADJUSTED_AMOUNT", "NARRATION", "TIMEOFSAVE", "LOCID") FROM stdin;
\.


--
-- Data for Name: CASHMEMO_TRANS; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."CASHMEMO_TRANS" ("TRANCODE", "VOUNUM", "SRL", "STONE_CODE", "STONE_SUB", "DESCRIPTION", "UOM", "PCS", "WEIGHT", "RATE", "AMOUNT") FROM stdin;
\.


--
-- Data for Name: CUSTOMER_PAID_AMOUNT; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."CUSTOMER_PAID_AMOUNT" ("TRANCODE", "VOUNUM", "SRL", "GL_CODE", "CHNO", "CHDATE", "AMOUNT") FROM stdin;
ISP	SP000017	1	\N		\N	0.00
ISP	SP000021	1	\N		\N	0.00
ISP	SP000022	1	\N		\N	0.00
ISP	SP000023	1	\N		\N	0.00
ISP	SP000024	1	\N		\N	0.00
ISP	SP000025	1	\N		\N	0.00
ISP	SP000026	1	\N		\N	0.00
ISP	SP000027	1	\N		\N	0.00
ISP	SP000029	1	\N		\N	0.00
\.


--
-- Data for Name: DEALER_MASTER; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: GST_CODE_MASTER; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: GST_PRINT_TAX; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."GST_PRINT_TAX" ("SRL", "HSN_SSN", "CGST_RT", "CGST_AMT", "SGST_RT", "SGST_AMT", "IGST_RT", "IGST_AMT", "CESS", "TOT_TAX", "TXABAMT") FROM stdin;
\.


--
-- Data for Name: GST_STATE_MASTER; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."GST_STATE_MASTER" ("ID", "STATE_NAME", "STATE_CODE", "COUNTRY") FROM stdin;
\.


--
-- Data for Name: GST_STONE_MASTER_DETL; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: GST_TAXSUMMARY_DETAIL; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."GST_TAXSUMMARY_DETAIL" ("TRANCODE", "VOUNUM", "SRL", "HSNCODE", "CGST_RT", "CGST_AMT", "SGST_RT", "SGST_AMT", "IGST_RT", "IGST_AMT", "CESS", "TOT_TAX", "TXABAMT") FROM stdin;
\.


--
-- Data for Name: ID_HEADER; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: PACKET_MASTER; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."PACKET_MASTER" ("CODE", "DESCRIPTION", "STONE_CODE", "STONE_SUB", "ACTIVE", "DETAIL", "PCS", "WEIGHT", "RATE", "TRANCODE", "Balance", "BalancePcs") FROM stdin;
PK000001	\N	\N	\N	1	\N	0	0	5000	\N	0	0
PK000002	\N	\N	\N	1	\N	0	0	0	\N	0	0
\.


--
-- Data for Name: PACKET_MASTER_OPENING; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."PACKET_MASTER_OPENING" ("CODE", "STONE_CODE", "STONE_SUB", "COSTRATE") FROM stdin;
\.


--
-- Data for Name: SALESMAN_MASTER; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."SALESMAN_MASTER" ("CODE", "NAME", "ADDRESS1", "ADDRESS2", "ADDRESS3", "PHONE", "FAX", "CONTACTPERSON", "LISCENCENO", "GL_CODE", "LOCID", "TrgAmt", vat_no) FROM stdin;
PU	PUJA	\N	\N	\N	\N	\N	\N	\N	0	\N	0.00	\N
ASDD	AAAAAAA	\N	\N	\N	\N	\N	\N	\N	0	\N	0.00	\N
VB	VVV	\N	\N	\N	\N	\N	\N	\N	0	\N	5000.00	\N
M	MADHU	\N	\N	\N	\N	\N	\N	\N	0	\N	100.00	\N
\.


--
-- Data for Name: SERIAL_INFO; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."SERIAL_INFO" ("TRANCODE", "PRINT_STATUS", "TSAVE", "PasswordActive", "PREFIX", "CURRENTNO") FROM stdin;
ISP	0	1	0	\N	0
INS	0	1	0	\N	0
ORD	0	1	0	\N	0
\.


--
-- Data for Name: SETUP_INFO; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: SETUP_INFO2; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."SETUP_INFO2" ("ID", "CDKEY", "EFUSERNAME", "EFPASSWORD", "EINVUSERNAME", "EINVPASSWORD") FROM stdin;
\.


--
-- Data for Name: SMSTRANSACTION; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."SMSTRANSACTION" ("ID", "TRANCODE", "VOUNUM", "MOBILE", "MESSAGE", sendsms, smssenddate, "LOCID") FROM stdin;
1	\N	23CM0014	7896541230	\N	\N	\N	\N
\.


--
-- Data for Name: STONE_MASTER; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: STONE_PURCHASE; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: STONE_TRANS; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: TC_WISE_PASSWORD_DETAIL; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."TC_WISE_PASSWORD_DETAIL" ("TC", "UserName", "MOD_PASSWORD", "DEL_PASSWORD", "CAN_PASSWORD") FROM stdin;
\.


--
-- Data for Name: USERS; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."USERS" ("ID", "USERNAME", "PASSWORD_HASH", "ROLE", "LOCID", "ACTIVE", "CREATED_AT") FROM stdin;
1	admin	$2b$10$TMzdWPQFzkzqZfE1eKbFx.LB.37ttbnUPc2/x7xjFd7wGp1Gobhsu	1	\N	1	2026-04-30 17:26:53.218891
\.


--
-- Data for Name: USER_ADDITION_BY; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: USER_CANCELLED_BY; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."USER_CANCELLED_BY" ("ID", "FormCaption", "CanVou", "CanDate", "CanTime", "UserName") FROM stdin;
\.


--
-- Data for Name: USER_DELETED_BY; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."USER_DELETED_BY" ("ID", "FormCaption", "DelVou", "DelDate", "DelTime", "UserName") FROM stdin;
\.


--
-- Data for Name: USER_MODIFIED_BY; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."USER_MODIFIED_BY" ("ID", "FormCaption", "ModVou", "ModDate", "ModTime", "UserName") FROM stdin;
\.


--
-- Data for Name: YEARLIST; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."YEARLIST" ("ID", "DIRECTORY", "FROMDATE", "TODATE", "EINV_ACTIVE", "YEAR_NO") FROM stdin;
\.


--
-- Data for Name: areas; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: cities; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: customer_types; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.customer_types (id, name, created_at) FROM stdin;
1	Regular	2026-04-23 10:02:09.436
2	Premium	2026-04-23 10:02:09.436
3	Gold	2026-04-23 10:02:09.436
4	Silver	2026-04-23 10:02:09.436
5	Platinum	2026-04-23 10:02:09.436
6	Corporate	2026-04-23 10:02:09.436
7	Dealer	2026-04-23 10:02:09.436
8	Wholesale	2026-04-23 10:02:09.436
9	Retail	2026-04-23 10:02:09.436
10	Walk-in	2026-04-23 10:02:09.436
\.


--
-- Data for Name: customers; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: dealers; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.dealers (id, code, name, address1, address2, city, state, phone, mobile, email, is_active, created_at, updated_at) FROM stdin;
1	D001	Primary Dealer Ltd	\N	\N	Bhubaneswar	Odisha	\N	9876543210	dealer1@example.com	t	2026-04-23 10:02:11.558	2026-04-23 10:02:11.558
2	D002	Secondary Agencies	\N	\N	Cuttack	Odisha	\N	9876543211	dealer2@example.com	t	2026-04-23 10:02:11.558	2026-04-23 10:02:11.558
3	Nemo vitae cupidatat	Nina Walker		\N			\N	Facere amet distinc	taqo@mailinator.com	t	2026-04-23 10:34:02.053	2026-04-23 10:34:02.053
\.


--
-- Data for Name: feedbacks; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.feedbacks (id, customer_id, client_name, feedback_date, status, notes, is_converted, converted_at, created_at, updated_at, activity_type, system_type, project_value, reason, project_start_date, maintenance_start_date, payment_info, training_start_date, training_end_date, training_notes, installation_date, feedback_text, outcome, voucher_no, action_date) FROM stdin;
1	\N	Robin Zamora	2026-04-23	PENDING	Qui omnis et dolore 	f	\N	2026-04-23 10:33:38.046	2026-04-23 10:33:38.046	\N	\N	\N	\N	\N	\N	\N	\N	\N	\N	\N	\N	\N	\N	\N
\.


--
-- Data for Name: grades; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.grades (id, code, name, purity_ratio, created_at, updated_at) FROM stdin;
1	G24	24 Carat	1	2026-04-23 10:02:10.535	2026-04-23 10:02:10.535
2	G22	22 Carat	0.9167	2026-04-23 10:02:10.535	2026-04-23 10:02:10.535
3	G18	18 Carat	0.75	2026-04-23 10:02:10.535	2026-04-23 10:02:10.535
4	G14	14 Carat	0.5833	2026-04-23 10:02:10.535	2026-04-23 10:02:10.535
\.


--
-- Data for Name: serial_generation; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.serial_generation (id, prefix, last_serial) FROM stdin;
2	FEED	0
3	DEAL	0
1	CUST	6
\.


--
-- Data for Name: states; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.states (id, name, created_at) FROM stdin;
1	Odisha	2026-04-23 10:02:08.8
2	West Bengal	2026-04-23 10:02:08.8
3	Jharkhand	2026-04-23 10:02:08.8
4	Chhattisgarh	2026-04-23 10:02:08.8
5	Andhra Pradesh	2026-04-23 10:02:08.8
6	Maharashtra	2026-04-23 10:02:08.8
7	Karnataka	2026-04-23 10:02:08.8
8	Tamil Nadu	2026-04-23 10:02:08.8
9	Gujarat	2026-04-23 10:02:08.8
10	Rajasthan	2026-04-23 10:02:08.8
11	Uttar Pradesh	2026-04-23 10:02:08.8
12	Delhi	2026-04-23 10:02:08.8
\.


--
-- Data for Name: sub_areas; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: system_setup; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.system_setup (id, company_name, company_address, pan, vat, cst, font_name, font_size, start_date, end_date, financial_year, updated_at, font_bold, font_italic, font_underline, font_strikethrough, font_all_caps) FROM stdin;
1	JCRM Enterprise	123 Business Park, Bhubaneswar, Odisha - 751001	\N	\N	\N	Arial	10	2024-04-01	2025-03-31	2024-25	2026-04-23 10:02:10.849	f	f	f	f	f
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.users (id, username, password, full_name, role, is_active, created_at, updated_at) FROM stdin;
1	admin	$2b$10$92IXUNpkjO0rOQ5byMi.Ye4oKoEa3Ro9llC/.og/at2.uheWG/igi	System Administrator	HIGH	t	2026-04-23 10:02:08.485	2026-04-23 10:02:08.485
2	manager	$2b$10$92IXUNpkjO0rOQ5byMi.Ye4oKoEa3Ro9llC/.og/at2.uheWG/igi	Branch Manager	SUPER	t	2026-04-23 10:02:08.485	2026-04-23 10:02:08.485
3	staff	$2b$10$92IXUNpkjO0rOQ5byMi.Ye4oKoEa3Ro9llC/.og/at2.uheWG/igi	Staff Member	NORMAL	t	2026-04-23 10:02:08.485	2026-04-23 10:02:08.485
\.


--
-- Name: ADDRESSBOOK_CLIENTSERIAL_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public."ADDRESSBOOK_CLIENTSERIAL_seq"', 1, false);


--
-- Name: SETUP_INFO2_ID_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public."SETUP_INFO2_ID_seq"', 1, false);


--
-- Name: SETUP_INFO_ID_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public."SETUP_INFO_ID_seq"', 1, false);


--
-- Name: SMSTRANSACTION_ID_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public."SMSTRANSACTION_ID_seq"', 1, false);


--
-- Name: USERS_ID_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public."USERS_ID_seq"', 1, true);


--
-- Name: USER_ADDITION_BY_ID_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public."USER_ADDITION_BY_ID_seq"', 809, true);


--
-- Name: USER_CANCELLED_BY_ID_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public."USER_CANCELLED_BY_ID_seq"', 1, false);


--
-- Name: USER_DELETED_BY_ID_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public."USER_DELETED_BY_ID_seq"', 1, false);


--
-- Name: USER_MODIFIED_BY_ID_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public."USER_MODIFIED_BY_ID_seq"', 1, false);


--
-- Name: YEARLIST_ID_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public."YEARLIST_ID_seq"', 1, false);


--
-- Name: areas_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.areas_id_seq', 5, true);


--
-- Name: cities_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.cities_id_seq', 30, true);


--
-- Name: customer_types_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.customer_types_id_seq', 10, true);


--
-- Name: customers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.customers_id_seq', 6, true);


--
-- Name: dealers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.dealers_id_seq', 3, true);


--
-- Name: feedbacks_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.feedbacks_id_seq', 1, true);


--
-- Name: grades_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.grades_id_seq', 4, true);


--
-- Name: serial_generation_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.serial_generation_id_seq', 3, true);


--
-- Name: states_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.states_id_seq', 12, true);


--
-- Name: sub_areas_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.sub_areas_id_seq', 11, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.users_id_seq', 3, true);


--
-- Name: ACCOUNT_GROUP ACCOUNT_GROUP_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."ACCOUNT_GROUP"
    ADD CONSTRAINT "ACCOUNT_GROUP_pkey" PRIMARY KEY ("ACC_GROUP");


--
-- Name: ACCOUNT_MASTER ACCOUNT_MASTER_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."ACCOUNT_MASTER"
    ADD CONSTRAINT "ACCOUNT_MASTER_pkey" PRIMARY KEY ("GL_CODE");


--
-- Name: ACCOUNT_TRANS ACCOUNT_TRANS_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."ACCOUNT_TRANS"
    ADD CONSTRAINT "ACCOUNT_TRANS_pkey" PRIMARY KEY ("TRANCODE", "VOUNUM", "VOUSRL");


--
-- Name: ADDRESSBOOK ADDRESSBOOK_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."ADDRESSBOOK"
    ADD CONSTRAINT "ADDRESSBOOK_pkey" PRIMARY KEY ("CLIENTSERIAL");


--
-- Name: ARTISAN_MASTER ARTISAN_MASTER_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."ARTISAN_MASTER"
    ADD CONSTRAINT "ARTISAN_MASTER_pkey" PRIMARY KEY ("CODE");


--
-- Name: BRANCH_MASTER BRANCH_MASTER_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."BRANCH_MASTER"
    ADD CONSTRAINT "BRANCH_MASTER_pkey" PRIMARY KEY ("BILLNO");


--
-- Name: CASHMEMO_MASTER CASHMEMO_MASTER_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."CASHMEMO_MASTER"
    ADD CONSTRAINT "CASHMEMO_MASTER_pkey" PRIMARY KEY ("TRANCODE", "VOUNUM");


--
-- Name: CASHMEMO_TRANS CASHMEMO_TRANS_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."CASHMEMO_TRANS"
    ADD CONSTRAINT "CASHMEMO_TRANS_pkey" PRIMARY KEY ("TRANCODE", "VOUNUM", "SRL");


--
-- Name: CUSTOMER_PAID_AMOUNT CUSTOMER_PAID_AMOUNT_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."CUSTOMER_PAID_AMOUNT"
    ADD CONSTRAINT "CUSTOMER_PAID_AMOUNT_pkey" PRIMARY KEY ("TRANCODE", "VOUNUM", "SRL");


--
-- Name: DEALER_MASTER DEALER_MASTER_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."DEALER_MASTER"
    ADD CONSTRAINT "DEALER_MASTER_pkey" PRIMARY KEY ("CODE");


--
-- Name: GST_CODE_MASTER GST_CODE_MASTER_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."GST_CODE_MASTER"
    ADD CONSTRAINT "GST_CODE_MASTER_pkey" PRIMARY KEY ("ID");


--
-- Name: GST_PRINT_TAX GST_PRINT_TAX_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."GST_PRINT_TAX"
    ADD CONSTRAINT "GST_PRINT_TAX_pkey" PRIMARY KEY ("SRL");


--
-- Name: GST_STATE_MASTER GST_STATE_MASTER_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."GST_STATE_MASTER"
    ADD CONSTRAINT "GST_STATE_MASTER_pkey" PRIMARY KEY ("ID");


--
-- Name: GST_STONE_MASTER_DETL GST_STONE_MASTER_DETL_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."GST_STONE_MASTER_DETL"
    ADD CONSTRAINT "GST_STONE_MASTER_DETL_pkey" PRIMARY KEY ("STONECODE", "SUBCODE", "SRL");


--
-- Name: GST_TAXSUMMARY_DETAIL GST_TAXSUMMARY_DETAIL_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."GST_TAXSUMMARY_DETAIL"
    ADD CONSTRAINT "GST_TAXSUMMARY_DETAIL_pkey" PRIMARY KEY ("TRANCODE", "VOUNUM", "SRL");


--
-- Name: ID_HEADER ID_HEADER_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."ID_HEADER"
    ADD CONSTRAINT "ID_HEADER_pkey" PRIMARY KEY ("TRANCODE");


--
-- Name: PACKET_MASTER_OPENING PACKET_MASTER_OPENING_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."PACKET_MASTER_OPENING"
    ADD CONSTRAINT "PACKET_MASTER_OPENING_pkey" PRIMARY KEY ("CODE", "STONE_CODE", "STONE_SUB");


--
-- Name: PACKET_MASTER PACKET_MASTER_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."PACKET_MASTER"
    ADD CONSTRAINT "PACKET_MASTER_pkey" PRIMARY KEY ("CODE");


--
-- Name: SALESMAN_MASTER SALESMAN_MASTER_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."SALESMAN_MASTER"
    ADD CONSTRAINT "SALESMAN_MASTER_pkey" PRIMARY KEY ("CODE");


--
-- Name: SERIAL_INFO SERIAL_INFO_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."SERIAL_INFO"
    ADD CONSTRAINT "SERIAL_INFO_pkey" PRIMARY KEY ("TRANCODE");


--
-- Name: SETUP_INFO2 SETUP_INFO2_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."SETUP_INFO2"
    ADD CONSTRAINT "SETUP_INFO2_pkey" PRIMARY KEY ("ID");


--
-- Name: SETUP_INFO SETUP_INFO_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."SETUP_INFO"
    ADD CONSTRAINT "SETUP_INFO_pkey" PRIMARY KEY ("ID");


--
-- Name: SMSTRANSACTION SMSTRANSACTION_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."SMSTRANSACTION"
    ADD CONSTRAINT "SMSTRANSACTION_pkey" PRIMARY KEY ("ID");


--
-- Name: STONE_MASTER STONE_MASTER_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."STONE_MASTER"
    ADD CONSTRAINT "STONE_MASTER_pkey" PRIMARY KEY ("STONE_CODE", "STONE_SUB");


--
-- Name: STONE_PURCHASE STONE_PURCHASE_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."STONE_PURCHASE"
    ADD CONSTRAINT "STONE_PURCHASE_pkey" PRIMARY KEY ("TRANCODE", "VOUNUM");


--
-- Name: STONE_TRANS STONE_TRANS_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."STONE_TRANS"
    ADD CONSTRAINT "STONE_TRANS_pkey" PRIMARY KEY ("TRANCODE", "VOUNUM", "SRL");


--
-- Name: TC_WISE_PASSWORD_DETAIL TC_WISE_PASSWORD_DETAIL_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."TC_WISE_PASSWORD_DETAIL"
    ADD CONSTRAINT "TC_WISE_PASSWORD_DETAIL_pkey" PRIMARY KEY ("TC", "UserName");


--
-- Name: USERS USERS_USERNAME_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."USERS"
    ADD CONSTRAINT "USERS_USERNAME_key" UNIQUE ("USERNAME");


--
-- Name: USERS USERS_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."USERS"
    ADD CONSTRAINT "USERS_pkey" PRIMARY KEY ("ID");


--
-- Name: USER_ADDITION_BY USER_ADDITION_BY_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."USER_ADDITION_BY"
    ADD CONSTRAINT "USER_ADDITION_BY_pkey" PRIMARY KEY ("ID");


--
-- Name: USER_CANCELLED_BY USER_CANCELLED_BY_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."USER_CANCELLED_BY"
    ADD CONSTRAINT "USER_CANCELLED_BY_pkey" PRIMARY KEY ("ID");


--
-- Name: USER_DELETED_BY USER_DELETED_BY_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."USER_DELETED_BY"
    ADD CONSTRAINT "USER_DELETED_BY_pkey" PRIMARY KEY ("ID");


--
-- Name: USER_MODIFIED_BY USER_MODIFIED_BY_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."USER_MODIFIED_BY"
    ADD CONSTRAINT "USER_MODIFIED_BY_pkey" PRIMARY KEY ("ID");


--
-- Name: YEARLIST YEARLIST_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."YEARLIST"
    ADD CONSTRAINT "YEARLIST_pkey" PRIMARY KEY ("ID");


--
-- Name: areas areas_code_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.areas
    ADD CONSTRAINT areas_code_key UNIQUE (code);


--
-- Name: areas areas_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.areas
    ADD CONSTRAINT areas_pkey PRIMARY KEY (id);


--
-- Name: cities cities_name_state_id_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.cities
    ADD CONSTRAINT cities_name_state_id_key UNIQUE (name, state_id);


--
-- Name: cities cities_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.cities
    ADD CONSTRAINT cities_pkey PRIMARY KEY (id);


--
-- Name: customer_types customer_types_name_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.customer_types
    ADD CONSTRAINT customer_types_name_key UNIQUE (name);


--
-- Name: customer_types customer_types_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.customer_types
    ADD CONSTRAINT customer_types_pkey PRIMARY KEY (id);


--
-- Name: customers customers_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_pkey PRIMARY KEY (id);


--
-- Name: customers customers_serial_no_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_serial_no_key UNIQUE (serial_no);


--
-- Name: dealers dealers_code_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.dealers
    ADD CONSTRAINT dealers_code_key UNIQUE (code);


--
-- Name: dealers dealers_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.dealers
    ADD CONSTRAINT dealers_pkey PRIMARY KEY (id);


--
-- Name: feedbacks feedbacks_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.feedbacks
    ADD CONSTRAINT feedbacks_pkey PRIMARY KEY (id);


--
-- Name: grades grades_code_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.grades
    ADD CONSTRAINT grades_code_key UNIQUE (code);


--
-- Name: grades grades_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.grades
    ADD CONSTRAINT grades_pkey PRIMARY KEY (id);


--
-- Name: serial_generation serial_generation_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.serial_generation
    ADD CONSTRAINT serial_generation_pkey PRIMARY KEY (id);


--
-- Name: serial_generation serial_generation_prefix_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.serial_generation
    ADD CONSTRAINT serial_generation_prefix_key UNIQUE (prefix);


--
-- Name: states states_name_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.states
    ADD CONSTRAINT states_name_key UNIQUE (name);


--
-- Name: states states_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.states
    ADD CONSTRAINT states_pkey PRIMARY KEY (id);


--
-- Name: sub_areas sub_areas_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.sub_areas
    ADD CONSTRAINT sub_areas_pkey PRIMARY KEY (id);


--
-- Name: system_setup system_setup_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.system_setup
    ADD CONSTRAINT system_setup_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: idx_account_master_group; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_account_master_group ON public."ACCOUNT_MASTER" USING btree ("ACC_GROUP");


--
-- Name: idx_account_trans_glcode; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_account_trans_glcode ON public."ACCOUNT_TRANS" USING btree ("GL_CODE");


--
-- Name: idx_account_trans_vounum; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_account_trans_vounum ON public."ACCOUNT_TRANS" USING btree ("TRANCODE", "VOUNUM");


--
-- Name: idx_addressbook_glcode; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_addressbook_glcode ON public."ADDRESSBOOK" USING btree ("GL_CODE");


--
-- Name: idx_cust_paid_vounum; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_cust_paid_vounum ON public."CUSTOMER_PAID_AMOUNT" USING btree ("TRANCODE", "VOUNUM");


--
-- Name: idx_dealer_glcode; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_dealer_glcode ON public."DEALER_MASTER" USING btree ("GL_CODE");


--
-- Name: idx_gst_summary_vounum; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_gst_summary_vounum ON public."GST_TAXSUMMARY_DETAIL" USING btree ("TRANCODE", "VOUNUM");


--
-- Name: idx_stone_purchase_date; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_stone_purchase_date ON public."STONE_PURCHASE" USING btree ("VOUDATE");


--
-- Name: idx_stone_purchase_dealer; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_stone_purchase_dealer ON public."STONE_PURCHASE" USING btree ("DEALER_CODE");


--
-- Name: idx_stone_trans_vounum; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_stone_trans_vounum ON public."STONE_TRANS" USING btree ("TRANCODE", "VOUNUM");


--
-- Name: ADDRESSBOOK ADDRESSBOOK_GL_CODE_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."ADDRESSBOOK"
    ADD CONSTRAINT "ADDRESSBOOK_GL_CODE_fkey" FOREIGN KEY ("GL_CODE") REFERENCES public."ACCOUNT_MASTER"("GL_CODE");


--
-- Name: ARTISAN_MASTER ARTISAN_MASTER_GL_CODE_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."ARTISAN_MASTER"
    ADD CONSTRAINT "ARTISAN_MASTER_GL_CODE_fkey" FOREIGN KEY ("GL_CODE") REFERENCES public."ACCOUNT_MASTER"("GL_CODE");


--
-- Name: CASHMEMO_TRANS CASHMEMO_TRANS_TRANCODE_VOUNUM_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."CASHMEMO_TRANS"
    ADD CONSTRAINT "CASHMEMO_TRANS_TRANCODE_VOUNUM_fkey" FOREIGN KEY ("TRANCODE", "VOUNUM") REFERENCES public."CASHMEMO_MASTER"("TRANCODE", "VOUNUM");


--
-- Name: CUSTOMER_PAID_AMOUNT CUSTOMER_PAID_AMOUNT_GL_CODE_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."CUSTOMER_PAID_AMOUNT"
    ADD CONSTRAINT "CUSTOMER_PAID_AMOUNT_GL_CODE_fkey" FOREIGN KEY ("GL_CODE") REFERENCES public."ACCOUNT_MASTER"("GL_CODE");


--
-- Name: CUSTOMER_PAID_AMOUNT CUSTOMER_PAID_AMOUNT_TRANCODE_VOUNUM_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."CUSTOMER_PAID_AMOUNT"
    ADD CONSTRAINT "CUSTOMER_PAID_AMOUNT_TRANCODE_VOUNUM_fkey" FOREIGN KEY ("TRANCODE", "VOUNUM") REFERENCES public."STONE_PURCHASE"("TRANCODE", "VOUNUM");


--
-- Name: DEALER_MASTER DEALER_MASTER_GL_CODE_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."DEALER_MASTER"
    ADD CONSTRAINT "DEALER_MASTER_GL_CODE_fkey" FOREIGN KEY ("GL_CODE") REFERENCES public."ACCOUNT_MASTER"("GL_CODE");


--
-- Name: GST_STONE_MASTER_DETL GST_STONE_MASTER_DETL_STONECODE_SUBCODE_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."GST_STONE_MASTER_DETL"
    ADD CONSTRAINT "GST_STONE_MASTER_DETL_STONECODE_SUBCODE_fkey" FOREIGN KEY ("STONECODE", "SUBCODE") REFERENCES public."STONE_MASTER"("STONE_CODE", "STONE_SUB");


--
-- Name: PACKET_MASTER_OPENING PACKET_MASTER_OPENING_CODE_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."PACKET_MASTER_OPENING"
    ADD CONSTRAINT "PACKET_MASTER_OPENING_CODE_fkey" FOREIGN KEY ("CODE") REFERENCES public."PACKET_MASTER"("CODE");


--
-- Name: STONE_PURCHASE STONE_PURCHASE_DEALER_CODE_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."STONE_PURCHASE"
    ADD CONSTRAINT "STONE_PURCHASE_DEALER_CODE_fkey" FOREIGN KEY ("DEALER_CODE") REFERENCES public."DEALER_MASTER"("CODE");


--
-- Name: STONE_PURCHASE STONE_PURCHASE_SALESMAN_CODE_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."STONE_PURCHASE"
    ADD CONSTRAINT "STONE_PURCHASE_SALESMAN_CODE_fkey" FOREIGN KEY ("SALESMAN_CODE") REFERENCES public."SALESMAN_MASTER"("CODE");


--
-- Name: STONE_TRANS STONE_TRANS_TRANCODE_VOUNUM_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."STONE_TRANS"
    ADD CONSTRAINT "STONE_TRANS_TRANCODE_VOUNUM_fkey" FOREIGN KEY ("TRANCODE", "VOUNUM") REFERENCES public."STONE_PURCHASE"("TRANCODE", "VOUNUM");


--
-- Name: cities cities_state_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.cities
    ADD CONSTRAINT cities_state_id_fkey FOREIGN KEY (state_id) REFERENCES public.states(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: customers customers_area_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_area_id_fkey FOREIGN KEY (area_id) REFERENCES public.areas(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: customers customers_city_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_city_id_fkey FOREIGN KEY (city_id) REFERENCES public.cities(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: customers customers_customer_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_customer_type_id_fkey FOREIGN KEY (customer_type_id) REFERENCES public.customer_types(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: customers customers_grade_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_grade_id_fkey FOREIGN KEY (grade_id) REFERENCES public.grades(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: customers customers_state_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_state_id_fkey FOREIGN KEY (state_id) REFERENCES public.states(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: customers customers_sub_area_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_sub_area_id_fkey FOREIGN KEY (sub_area_id) REFERENCES public.sub_areas(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: feedbacks feedbacks_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.feedbacks
    ADD CONSTRAINT feedbacks_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customers(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: sub_areas sub_areas_area_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.sub_areas
    ADD CONSTRAINT sub_areas_area_id_fkey FOREIGN KEY (area_id) REFERENCES public.areas(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: public; Owner: cloud_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE cloud_admin IN SCHEMA public GRANT ALL ON SEQUENCES TO neon_superuser WITH GRANT OPTION;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: cloud_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE cloud_admin IN SCHEMA public GRANT ALL ON TABLES TO neon_superuser WITH GRANT OPTION;


--
-- PostgreSQL database dump complete
--

\unrestrict gXxUHK8SIcDSouaJobaKqyF0qiA6ltaI6CNbmmHoklGgYqdKEZda6Fz73JyLW8N

